<mat-card class="example-card mat-elevation-z8" >
  <mat-card-content class="example-header-image" >
    <div mat-card-avatar class="example-header-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/DpedroI-brasil-full.jpg/380px-DpedroI-brasil-full.jpg');"></div>
    <mat-card-title>Dom Pedro I</mat-card-title>
    <mat-card-subtitle>Imperador do Brasil</mat-card-subtitle>
    <mat-card-subtitle>Matŕicula: 1798</mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="example-card mat-elevation-z8" >
  <mat-card-content class="example-header-image" >
    <div mat-card-avatar class="example-header-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/29-_Imperatriz_rainha_D._Leopoldina.jpg/255px-29-_Imperatriz_rainha_D._Leopoldina.jpg');"></div>
    <mat-card-title>Maria Leopoldina de Áustria</mat-card-title>
    <mat-card-subtitle>Arquiduquesa da Áustria</mat-card-subtitle>
    <mat-card-subtitle>Matŕicula: 1797</mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="example-card mat-elevation-z8" >
  <mat-card-content>
    <div mat-card-avatar class="example-header-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/DpedroI-brasil-full.jpg/380px-DpedroI-brasil-full.jpg');"></div>
    <mat-card-title>José Bonifácio de Andrada e Silva</mat-card-title>
    <mat-card-subtitle>Patrono da Independência do Brasil</mat-card-subtitle>
    <mat-card-subtitle>Matŕicula: 1763</mat-card-subtitle>
  </mat-card-content>
</mat-card>
